a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #777;
}

body {
  height: 100vh;
  font-size: 14px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

#root {
  height: 100vh;
  width: 100%;
}

.app {
  background-color: #fff !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-light {
  background-color: #fff !important;
}

.container {
  max-width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.text-error {
  color: red;
  width: 100%;
  height: 1em;
}

/* Header */

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid !important;
  border-bottom-color: #000;
  border-bottom: 1px;
}

header a {
  text-decoration: none;
}

header .container h1 {
  font-size: 1.5em;
  margin-left: 0.5em;
}

header .navbar-nav {
  width: 100%;
}

header .loginOption {
  margin-left: auto;
}

header .navbar-light {
  border-bottom-style: solid !important;
  border-bottom-color: #000;
  border-bottom: 1px;
}

.header_logo {
  height: 1.5em;
}

/* Footer */

footer {
  width: 100%;
  margin-top: auto;
  height: 2.5rem;
  border-top-style: solid !important;
  border-top-color: #000;
  border-top: 1px;
  align-self: flex-end;
}

footer .container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Content */

main .container {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.modal-dialog {
  width: 80% !important;
  max-width: 80% !important;
}

.dataList .modal {
  position: absolute !important;
  top: 3em !important;
  width: 100%;
}

main.login .container form {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10vh;
}

/* Login */

.login {
  display: flex;
  width: 25em;
}

.login.container {
  align-items: center;
  width: 120rem;
}

.form-control .invalid {
  border-color: red;
}

.login button {
  margin-top: 1rem;
  width: 100%;
}

.thin-line {
  font-size: 0.5em;
}

/* table */

.table-filter {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5em;
}

td {
  white-space: pre;
}

td.number {
  text-align: right;
}

input.fieldnumber {
  text-align: right;
}

input:invalid {
  border-color: red;
}

.text-error {
  color: red;
}

.header.row div {
  font-weight: bold;
}

.data-table-header {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

.data-form-header {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.data-form-header button {
  margin-left: 0.5em;
}

.data-form-group {
  display: flex;
  flex-direction: row;
}

.data-form-footer {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
}

.data-form-footer button {
  margin-left: 0.5em;
}

.alert-danger {
  background-color: #fff;
}

.alert-success {
  background-color: #fff;
}

.fieldnumber {
  text-align: right;
}

.tra-seq td:last-child {
  padding-left: 1em;
}

.tra-seqtot {
  text-align: right;
  padding-right: 1em;
}

.btn-primary {
  color: #fff;
}

.doc-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

/* login */

.login {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  flex-direction: column;
}

.login label {
  margin-top: 1rem;
}

/* tables */

td.integer {
  text-align: right;
}

td.amount {
  text-align: right;
}
